
<!--Footer Start-->
  

    <div class="container-fluid bg-dark text-light footer">  
      <div class="row">
        <div class="col">
          <div class="icons">
            <h4>contact</h4>
            <p>mwingakazoka@gmail.com</p> 
            <div class="social-icons">
              <p> Please follow me on linkedin by clicking the icon below and I also share my code on  Github </p>
              <ul>
                 <li><a href="https://www.linkedin.com/in/mkazoka1" class="fa fa-linkedin fa-2x"></a></li>
                 <li><a href="https://github.com/mkazoka1"><i class="fa fa-github fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
              </ul>
           </div>
                 <hr class="daz">
                 <p class="creator">&copy; created Mwinga Kazoka 2021
                   <br> All images used are from my personal 
                   collection and unplash.com
                 </p>
          </div>
       </div>

      </div>     
     </div>  
    

<!--Footer of Article-->