    <div class="container-fluid bg-secondary text-light">
       <div class="d-flex">
          <div class=" p-5 location1">
             <h3>Location</h3>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse modi sapiente ex 
                quisquam incidunt, amet temporibus non molestiae deserunt porro nesciunt cumque assumenda sit delectus sequi voluptas ipsum dolorem. Repellendus assumenda ducimus obcaecati recusandae. Cum quae culpa pariatur magnam nemo corporis at possimus nobis laudantium, impedit nostrum nesciunt sunt labore velit doloribus sint magni mollitia ad quibusdam accusantium. Accusantium, architecto. Culpa eveniet laborum deleniti fugiat nihil sapiente ratione, quam neque quod rerum quas, provident aspernatur 
                minus similique nam maxime ex</P>
                <br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem possimus vero, dignissimos adipisci, minima facilis aliquid modi quibusdam ipsa libero voluptate tenetur! Quidem unde ut autem possimus fuga, consequatur ducimus placeat consequuntur? Quibusdam esse delectus mollitia vel non necessitatibus odit, pariatur unde nostrum eligendi exercitationem at quasi quisquam expedita voluptas ad maxime omnis iste dolore praesentium, saepe quia deserunt itaque? Ipsam perferendis perspiciatis, aperiam impedit sint facilis, ea rerum, officia illum fuga eveniet cumque vel harum alias numquam molestias quo?
            </div>
          
                <img class="img-fluid" src="../../../assets/river.jpg" alt="">
        </div>
        </div><!--end of Location section-->
        <section>
            <div class="container-fluid p-5">
                <div hist2>
                    <h3>SERVICES</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sed dicta unde, adipisci velit amet eum distinctio enim quasi dolor. Provident cupiditate maxime nisi repellat corporis nihil obcaecati voluptates iste tempore debitis totam, velit ex a fugiat laudantium repellendus deserunt! Nam quod debitis velit architecto modi tenetur dolor, eius rerum nihil suscipit maxime exercitationem, non, tempora culpa! Eligendi enim autem et labore numquam ex, sed quidem voluptate ea reiciendis nulla ad repellat voluptatibus aspernatur ipsum nemo delectus quisquam amet tempora nam tempore voluptatem dicta. Impedit itaque, consectetur perferendis quisquam in consequuntur sapiente ratione magni cumque accusantium expedita illo. Voluptate, commodi.
                </div>
            </div>
        </section>

        
