
<div class="container-fluid showcase text-center pt-5 text-light">
 <h1>The Zambezi Restaurant</h1>
 <button class="btn btn-primary">Make a Reservation</button>
</div>
<!--showcase ends-->
<div class="container-fluid pt-5 cards"> 
    <div class="row text-center">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/dining.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div><!--card1 ends-->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/dish.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div><!--card2 ends-->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/meal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>

        </div><!--card3 ends-->
    </div>
</div>